<div class="row mt-4">
	<div class="col-12">
		<h4 class="text-center">Eventos</h4>
		<table class="table table-hover table-sm">
			<thead>
				<tr>
					<th class="text-center" scope="col">Nome</th>
					<th class="text-center" scope="col">Data do Evento</th>
					<th class="text-center" scope="col">Ativo</th>
					<th class="text-center" scope="col">Perfis</th>
					<th class="text-center" scope="col">Valor</th>
					<th class="text-center" scope="col">Notificações</th>
					<th class="text-center" scope="col">Presenças</th>
					<th class="text-center" scope="col">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let event of listEvents">
					<td (click)="editEvent(event)">{{ event.title }}</td>
					<td (click)="editEvent(event)">{{ event.startDate | date:'dd/MM/yyyy' }} {{ event.endDate != null ? ' - ' + (event.endDate | date:'dd/MM/yyyy') : '' }}</td>
					<td (click)="editEvent(event)">
						<div class="form-check form-switch ">
							<input class="form-check-input" type="checkbox" value="true" checked="event.active" id="checkbox1"/>
							<label class="form-check-label" for="checkbox2">&nbsp;</label>
						</div>
					</td>
					<td (click)="editEvent(event)">&nbsp;</td>
					<td (click)="editEvent(event)">{{ event.price | currency }}</td>
					<td (click)="editEvent(event)">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" checked="event.notifications.active" id="checkbox2"/>
							<label class="form-check-label" for="checkbox2">&nbsp;</label>
						</div>
					</td>
					<td (click)="editEvent(event)">{{ event.confirmedAttendance || 0 }}</td>
					<td>
						<i class="fa fa-pencil pointer" (click)="edit()"></i>
						&nbsp;
						<i class="fa fa-trash-o pointer" (click)="delete(event)"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<dp-floating-button (click)="goToNew()"></dp-floating-button>
</div>
