<div class="row mt-4">
	<div class="col-12">
		<h4 class="text-center">Usuários</h4>
		<table class="table table-hover table-sm">
			<thead>
				<tr class="bg-light">
					<th class="text-center col-4" scope="col">Nome</th>
					<th class="text-center col-2" scope="col">Usuário</th>
					<th class="text-center col-4" scope="col">Perfis</th>
					<th class="text-center col-1" scope="col">Ativo</th>
					<th class="text-center col-1" scope="col">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of listUsers">
					<td class="text-center" (click)="editUser(user, true)">{{ user.fullName }}</td>
					<td class="text-center" (click)="editUser(user, true)">{{ user.username }}</td>
					<td class="text-center" (click)="editUser(user, true)">
						<span>
							<ng-container *ngIf="user.roles != undefined">
								<ng-container *ngFor="let role of user.roles">
									{{ role.id | titlecase }},
								</ng-container>
							</ng-container>
						</span>
					</td>
					<td class="text-center" (click)="editUser(user, true)">
						<div class="form-check form-switch ">
							<input class="form-check-input" type="checkbox" [(ngModel)]="user.active" value="{{ user.uuid }}" id="checkbox1"/>
							<label class="form-check-label" for="checkbox2">&nbsp;</label>
						</div>
					</td>
					<td class="d-flex flex-row-reverse">
						<i class="fa fa-trash-o pointer" (click)="delete(user)"></i>
						&nbsp;
						<i class="fa fa-pencil pointer" (click)="editUser(user, true)"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<dp-floating-button (click)="editUser(null, false)"></dp-floating-button>
</div>
