<div class="row mt-4">
	<div class="col-12">
		<h4 class="text-center">Waypoints</h4>
	</div>
	<div class="row">
		<div class="col-2">
			<div class="row">
				<div class="col-10">
					<button class="btn btn-info btn-sm text-white btn-block" (click)="unlockNewWaypoints()">
						<i class="fa fa-pencil"></i> Editar Locais
					</button>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-10">
					<button class="btn btn-danger btn-sm text-white btn-block" [hidden]="!editEnabled" (click)="resetWaypoints()">
						<i class="fa fa-retweet"></i> Padrão
					</button>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-10">
					<button class="btn btn-primary btn-sm text-white btn-block" [hidden]="!editEnabled" (click)="saveWaypoints()">
						<i class="fa fa-floppy-o"></i> Salvar
					</button>
				</div>
			</div>
		</div>
		<div class="col-10">
			<google-map width="900px" [center]="center" (mapClick)="addMarker($event);" [options]="mapOptions">
				<map-marker #marker="mapMarker" *ngFor="let marker of listMarkers" [position]="marker.position"
					[options]="getOption(marker)" (mapClick)="editMarker(marker)">
				</map-marker>
			</google-map>
		</div>
	</div>
</div>

<ng-template #modalContent let-modal>
	<form [formGroup]="form" (submit)="saveNewMarker()">
		<div class="modal-body">
			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<label for="waypointName">Nome do local <span class="text-danger font-weight-bold">*</span></label>
						<input type="text" formControlName="name" #nameField id="waypointName" name="waypointName" class="form-control" placeholder="Nome do local...">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="form-group">
						<label for="waypointDesc">Descrição <span class="text-danger font-weight-bold">*</span></label>
						<textarea id="waypointDesc" style="resize: none;" formControlName="description" name="waypointDesc" rows="4" class="form-control" placeholder="Uma descrição do local..."></textarea>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<small class="text-muted text-small">
						<span class="text-danger font-weight-bold">*</span> Campo obrigatório.
					</small>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger btn-sm text-white" [hidden]="!isEditingMode" (click)="modal.close('remove')">
				<i class="fa fa-trash-o"></i> Remover
			</button>
			<button type="submit" class="btn btn-primary btn-sm text-white" (click)="modal.close('save')">
				<i class="fa fa-floppy-o"></i> Salvar
			</button>
		</div>
	</form>
</ng-template>
