<div class="row mt-4">
	<div class="col-12">
		<h4 class="text-center">Waypoints</h4>
	</div>
	<div class="row">
		<div class="col-2">
			<button class="btn btn-primary btn-sm text-white" (click)="unlockNewWaypoints()"><i class="fa fa-plus"></i> Novos Waypoints</button>
		</div>
		<div class="col-10">
			<google-map width="900px" [center]="center" (mapClick)="addMarker($event)" [options]="mapOptions">
				<map-marker #marker="mapMarker" *ngFor="let marker of markers"
					[position]="marker.position" 
					[options]="getOption(marker)">
				</map-marker>
			</google-map>
		</div>
	</div>
</div>
