<div class="row mt-5">
	<div class="col-6 offset-3 d-flex justify-content-center text-center">
		<p class="lead">Bem vindo ao painel gerencial <br><span class="font-weight-bold">DIGITAL PARK</span></p><br>
	</div>
</div>
<!-- <div class="row">
	<div class="col-6">
		<p class="h6"><span class="badge badge-danger">CRITICO</span> Integrações     </p>
		<p class="h6"><span class="badge badge-success"> ONLINE </span> Banco de dados  </p>
		<p class="h6"><span class="badge badge-success">ONLINE</span> Aplicação mobile</p>
	</div>
</div> -->
<div class="row">
	<div class="col-6 offset-3 mt-5 d-flex justify-content-center">
		<img src="../../../assets/logo.png" width="50%"/>
	</div>
</div>
